.header{
    margin: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header *{
    margin: 15px 0;
}

.header svg{
    fill: #cfd7e2;
    max-width: 280px;
    transition: transform 300ms, fill 300ms ease-in-out;
    margin: 0;
}

.header svg:first-of-type{
    position: relative;
    top: 2.5px;
}

.header svg:first-of-type:hover{
    fill: #39f;
    transform: scale(1.1);
    cursor: pointer;
}

.header svg:last-of-type{
    padding: 0 15px;
    position: relative;
    left: 10px;
    top: 2.5px;
    width: 50%;
    fill: #39f;
}

.header div {
    display: flex;
    justify-content: space-between;
    width: 350px;
}

@media only screen and (max-width: 600px){
    .header{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .header div{
        justify-content: center;
    }
    .header div svg:first-of-type{
        width: 70%;
    }
    .header div svg:last-of-type {
        top: 2.5px;
        left: 5px;
        width: 25%;
    }
}