.header{
    margin: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header *{
    margin: 15px 0;
}

.header img{
    max-width: 280px;
    transition: transform 200ms ease-in-out;
}

.header img:first-of-type:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.header img:last-of-type{
    padding: 0 15px;
    position: relative;
    left: 15px;
    top: 5px;
    width: 100px;
}

.header div {
    display: flex;
    justify-content: space-between;
    width: 350px;
}

@media only screen and (max-width: 600px){
    .header{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .header div{
        width: 250px;
    }
    .header div img:first-of-type{
        width: 150px;
    }
    .header div img:last-of-type {
        top: 0;
        left: 5px;
        width: 60px;
    }
}