.paragraph{
    width: 100%;
    position: relative;
}

.paragraph::after{
    content: '';
    position: absolute;
    width: 95%;
    left: 2.5%;
    height: 3px;
    background: linear-gradient(45deg, #ffe600, rgb(255, 0, 0));
    bottom: 0;
    border-radius: 8px;
}

.paragraph img {
    filter: invert(100%);
}

.paragraph p{
    transition: color .5s ease-in-out;
    display: inline-block;
    font-size: 3rem;
    margin-left: 5%;
    margin-right: 5%;
    position: relative;
    background-size: 200% 200%;
    background: linear-gradient(45deg, #ffe600, rgb(255, 0, 0));
    background-clip: text;
    -webkit-background-clip: text;
}

.paragraph p:hover {
    color: rgba(0, 0, 0, 0);
    background-position: left;
}

.paragraph p::after{
    transform: scaleX(.3);
    content: '';
    position: absolute;
    width: auto;
    width: 100%;
    bottom: -5px;
    left: 0px;
    height: 3.5px;
    transform-origin: left;
    background: linear-gradient(45deg, #ffe600, rgb(255, 0, 0));
    transition: transform 500ms ease-in-out;
    border-radius: 8px;
}

.paragraph p:hover::after{
    transform: scaleX(1);
    background-color: #39f;
}

.paragraph section{
    margin-block-start: 0;
    margin-block-end: 0;
    padding-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    font-size: 32px;
}

.paragraph div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 20px;
}

.paragraph section iframe,
.paragraph section span{
    padding: 0 20px;
    width: 100%;
    min-width: 150px;
}

.paragraph section span{
    border-radius: 7px;
    border-radius: 15px;
    padding: 20px;
    margin: 0 20px;
    background: linear-gradient(#141920, #141920) padding-box, linear-gradient(45deg, #ffe600, rgb(255, 0, 0)) border-box;
    box-shadow: 0 8px 32px 0 rgba(51, 153, 255, 0.18);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 2px solid transparent;
}

.paragraph section iframe{
    padding: 10px 10px;
    border-radius: 8px;
    background: linear-gradient(#141920, #141920) padding-box, linear-gradient(45deg, #ffe600, rgb(255, 0, 0)) border-box;
    box-shadow: 0 8px 32px 0 rgba(51, 153, 255, 0.18);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 2px solid transparent;
}

.paragraph section img{
    padding: 0 20px;
    width: 30%;
    min-width: 150px;
}

@media only screen and (max-width: 1000px){
    .paragraph section iframe,
    .paragraph section span{
        width: 90%;
        margin: 0;
        margin-bottom: 20px;
    }
    .paragraph section{
        flex-direction: column !important;
        row-gap: 20px;
    }
    .paragraph div{
        flex-direction: row;
    }
}