.main {
    width: 100vw;
    height: 89vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
}

.buttons {
    display: flex;
}

.active {
    background: linear-gradient(45deg, #ffe600, rgb(255, 0, 0)) padding-box;
    top: 3px;
    box-shadow: 0 2px 20px 0 rgba(112, 176, 240, 0.18);
}

.buttons:first-of-type > Button {
    min-width: 137px;
}

.buttons:last-of-type > Button {
    padding:  20px 5px;
}

.adminPanel {
    min-width: 370px;
    width: 25%;
    min-height: 535px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(#141920, #141920) padding-box, linear-gradient(45deg, #ffe600, rgb(255, 0, 0)) border-box;
    box-shadow: 0 8px 32px 0 rgba(51, 153, 255, 0.18);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(51, 153, 255, 0.18);
    position: relative;
}

.adminPanel > div:first-of-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.adminPanel p:first-of-type {
    font-size: 30px;
}

.adminPanel p {
    font-size: 25px;
}

.domains {
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
}

.domains > Button {
    margin: 20px 20px;
    max-width: 35% !important;
    padding: 20px 5px;
}

.add {
    width: calc(100% - 40px);
    background: #52FF00 !important;
    color: #141920 !important;
}

.smallAdd {
    width: calc(30% - 40px);
    background: #52FF00 !important;
    padding: 5px;
    color: #141920 !important;
    height: 60%;
}

.delete {
    width: calc(100% - 40px);
    background: #F94C4C !important;
}

.input {
    margin: 10px 10px;
    padding: 10px;
    font-size: 24px;
    border-radius: 9px;
    background: linear-gradient(#141920, #141920) padding-box, linear-gradient(45deg, #ffe600, rgb(255, 0, 0)) border-box;
    box-shadow: 0 8px 32px 0 rgba(51, 153, 255, 0.18);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 2px solid rgba(51, 153, 255, 0.18);
    caret-color: white;
    margin-top: 15px;
    color: white;
}

.input:focus,
.input:active,
.input:hover {
    background: linear-gradient(#141920a4, #1419209a) padding-box, linear-gradient(45deg, #ffe600, rgb(255, 0, 0)) border-box;
    top: 3px;
}

.error {
    box-shadow: 0 8px 32px 0 rgba(255, 8, 0, 0.658);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 2px solid rgba(245, 48, 48, 0.664);
}

.input:focus {
    outline: none;
}

.back {
    position: absolute;
    left: 15px;
    top: 0px;
    font-size: 15px !important;
    cursor: pointer;
    transition: left 200ms linear;
}

.back:hover {
    left: 25px;
}

.userInfoFlex {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap;
    align-items: center !important;
}

.userInfoFlex > input,
.userInfoFlex > textarea {
    width: 80%;
    margin-top: 10px !important;
    resize: vertical;
}

.warningText {
    position: absolute;
    left: 31%;
    top: 10%;
    font-size: 14px !important;
}

.secondWarningText {
    left: 33%;
}

.checkboxFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row !important;
}

.checkboxFlex > input[type="checkbox"] {
    appearance: none;
    background-color: #141920;
    border-radius: 6px;
}

.checkboxFlex > input::hover {
    top: 0px !important;
}

.checkboxFlex > input[type="checkbox"]:checked {
    background: linear-gradient(45deg, #ffe600, rgb(255, 0, 0)) border-box;
}

.jsonbtn {
    width: calc(100% - 40px);
    background: linear-gradient(45deg, #ffe600, rgb(255, 0, 0)) padding-box;
    color: #141920 !important;
}

.editDomainFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    flex-direction: row !important;
}

.editDomainFlex > img {
    width: 32px;
    cursor: pointer;
}
