.formpage{
    width: 100vw;
    height: 89vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
}

.formpage p{
    font-size: 2rem;
    margin-left: 5%;
    margin-right: 5%;
    margin-block-start: 0;
    margin-block-end: 0;
}

.formpage form p{
    font-size: 1.125rem;
    color: rgb(250, 166, 166);
}

.loginform{
    max-width: 70%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(51, 153, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(51, 153, 255, 0.18);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(51, 153, 255, 0.18);
    box-shadow: 0 7px 0px rgb(42, 123, 204, 0.18);
}

.formpage span{
    position: absolute;
    top: 15%;
    cursor: pointer;
    left: 15px;
    font-size: 35px;
    transition: all 200ms ease;
}

.formpage span:hover{
    left: 25px;
}

.input{
    margin: 10px 10px;
    padding: 10px;
    font-size: 24px;
    border-radius: 9px;
    background: rgba(25, 140, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(51, 153, 255, 0.18);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 2px solid rgba(51, 153, 255, 0.18);
    box-shadow: 0 7px 0px rgb(42, 123, 204, 0.18);
    caret-color: white;
    margin-top: 25px;
    color: white;
}

.error{
    background: rgba(255, 25, 25, 0.616);
    box-shadow: 0 8px 32px 0 rgba(255, 8, 0, 0.658);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 2px solid rgba(245, 48, 48, 0.664);
    box-shadow: 0 7px 0px rgba(255, 28, 28, 0.63);
}

.loginform input:focus{
    outline: none;
}

.buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 50px;
    width: 100%;
    background-color: transparent;
}

.buttons > *{
    margin: 10px 0;
    width: 100%;
    max-width: 100%;
}

@keyframes slide-down {
    from {
        opacity: 0;
        transform: translateY(-3rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes show-up {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media only screen and (max-width: 700px) {
    .loginform input{
        width: 100%;
    }
    .loginform{
        left: 0 !important;
        width: 70%;
    }
}

@media only screen and (max-width: 530px){
    .formpage span{
        top: 25%;
        font-size: 35px;
    }
}