@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

body {
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  background-color: #2C394B;
  overflow-x: hidden;
}

::-webkit-input-placeholder {
  color: white;
  opacity: .5;
}

:-moz-placeholder {
  color: white;
  opacity: .5;
}

::-moz-placeholder {
  color: white;
  opacity: .5;
}

:-ms-input-placeholder {
  color: white;
  opacity: .5;
}

::-ms-input-placeholder {
 color: white;
 opacity: .5;
}

::placeholder {
  color: white;
  opacity: .5;  
}